<ion-content [fullscreen]="true" class="ion-padding">
  <nav>
    <div class="container">
      <img src="assets/Schnitzeljagd.png" alt="Schnitzeljagd Bild" class="schnitzeljagd-image">
      <div class="text-container">
      </div>
      <img src="assets/pause.png" alt="pause button" class="pause-button">
    </div>
  </nav>


  <!-- Title -->
  <div class="text-container">
    <h1>Task 3</h1>
    <h2>Camera QR</h2>
  </div>

  <!-- Separator -->
  <div class="separator"></div>

  <!-- Explanation -->
  <div class="text-container">
    <p>Explanation:</p>
    <p>you must scan the correct QR code with your phone </p>
  </div>

  <!-- Separator -->
  <div class="separator"></div>

  <!-- Goal and Location Reached -->
  <div class="text-container">
    <div class="info-item">
      <h2>Goal:</h2>
    </div>
  </div>
  <ion-button class="camera-button" (click)="openCamera()" >Open Camera</ion-button>
  <ion-button class="continue-button" [disabled]="!qrCorrect" (click)="navigateToTask4()">Continue</ion-button>


  <div *ngIf="isCameraOpen">
  </div>
</ion-content>
