<ion-content [fullscreen]="true" class="ion-padding">
  <nav>
    <div class="container">
      <img src="assets/Schnitzeljagd.png" alt="Schnitzeljagd Bild" class="schnitzeljagd-image">
      <div class="text-container">
      </div>
      <img src="assets/pause.png" alt="pause button" class="pause-button">
    </div>
  </nav>

  <!-- Title -->
  <div class="text-container">
    <h1>The Game</h1>
  </div>

  <!-- Separator -->
  <div class="separator"></div>


  <div class="text-container">
    <img src="../../assets/tick.png" alt="Checkmark">
    <p>When the task is completed, the checkmark is activated, and you will get a schnitzel.</p>
  </div>

  <div class="text-container">
    <img src="../../assets/timer.png" alt="Timer">
    <p>If you take too long to complete a task, you get rotten potatoes.</p>
  </div>


  <!-- Separator -->
  <div class="separator"></div>
  <!-- Continue Button -->
  <ion-button class="continue-button">Continue</ion-button>
</ion-content>
